body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.club_banner{
    background-color: #2D25A0;
    display: flex;
    color: white;
    justify-content: center;
    padding: 100px 10px;
}
.club_banner_details{
    width: 45%;
}
.club_banner_details h1{
    font-size: 64px;
    margin-top: 0px;
   
}
.club_banner_details img{
    width: 556px;
    height: 438px;
}
.custom_button{
    background-color: #E02C6D;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
}
.custom_button:hover{
    transform: scale(1.2);
    transition: transform 3s ease-in-out;
}
/* club banner style end  */

/* player section style start  */
.players_main{
        display: flex;
        justify-content: center;
}
.players{
    width: 80%;
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 10px 10px 30px lightgray;
}
.player img{
    width: 300px;
    height: 256px;
}
.player_name{
    color: #18191F;
    font-weight: bold;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.player_details{
    font-size: 16px;
}
/* player section style end  */

/* media queries start  */
@media only screen and (max-width: 688px) {
    /* club banner mobile style start */
    .club_banner{
        flex-direction: column;
     
    }
    .club_banner_details {
        width: 100%;
    }
    .club_banner_details h1 {
        font-size: 36px;
    }
    .club_banner_details img {
        width: 300px;
        height: 260px;
        margin-top: 40px;
    }
    /* club banner mobile style start */

    /* player mobile style start */
    .players{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        width: 300px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    /* player mobile style end */
    
}
/* media queries end */